# Code owners are requested for review automatically on matching paths.
# https://docs.github.com/en/repositories/managing-your-repos-settings-and-features/customizing-your-repository/about-code-owners

* @AydinTHR
